<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="portfoliostyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <a href="index.html" class="home-button">Home</a>
    <h1><span class="white-text">Achievements</span></h1>
    <section class="container">
        <h2>SKILLS</h2>
        <ul>
            <li>Frontend web development</li>
            <li>Cloud Computing</li>
            <li>Done projects in coding languages like C, java, python</li>
            <li>API fundamentals</li>
            <li>Create E-commerce store on shopify</li>
        </ul>
    </section>
    <section class="container">
        <h2>HOBBIES</h2>
        <ul>
            <li>Video Games</li>
            <li>Coding</li>
            <li>Surfing on internet</li>
            <li>Reading books</li>
        </ul>
    </section>
    <section id="certificates-container" class="container" ng-app="portfolioApp" ng-controller="CertificatesController">
        <h2>CERTIFICATES</h2>    
        <input type="text" ng-model="searchQuery" placeholder="Search certificates">
        <div class="certificate-row" ng-repeat="row in filteredCertificateRows">
            <div class="certificate" ng-repeat="certificate in row">
                <img ng-src="{{certificate.image}}" alt="{{certificate.title}}">
                <p>{{certificate.title}}</p>
            </div>
        </div>
    </section>    
</body>
<script src="portfolioscript.js"></script>
</html>
