
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(cool-background.png);
    text-align: center;
}
section {
    margin: 20px;
}
.white-text {
    color: white;
}
.blue-text {
    color: #108af5;
}
.container {

    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.358);
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    margin-top: 80px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 60px;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    letter-spacing: 1px;
}
ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}
li {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 8px 0;
}

.home-button {
    position: absolute;
    top: 96px; /* Adjust the distance from the top */
    left: 79%;
    transform: translateX(-50%);
    display: flex;
}

a {
display: block;
width: 132px;
height: 32px;
line-height: 35px;
font-size: 16px;
padding-left: 72px;
font-family: sans-serif;
text-decoration: none;
color: #838383;
border: 2px solid #7c7c7c;
border-radius: 40px;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
}

a:hover {
    color: #fff;
    background-color: #108AF5;
}
/* Add CSS styles for certificate rows here */
.certificate-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Add CSS styles for certificate images and titles here */
.certificate {
    width: 30%; /* Adjust width to fit three certificates in a row */
}

.certificate img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.certificate p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
